

@font-face{
  font-family: "Proxima Nova";
  src: url('/fonts/ProximaNova-Light.otf')
}

@font-face{
    font-family: "Helvetica Neue";
    src: url('/fonts/HelveticaNeue.otf');
}

body{
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-color: #F3F5F7;*/
}

.content{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 470px;
    background: #181818 url('/images/design.png') fixed repeat ;
}

.wrapper{
    width: 970px;
    margin: 0 auto;
}

.login-form{
    width: 100%;
    border: 1px solid #dfdfdf;
    font-size: 18px;
    height: 48px;
    margin-bottom: 1rem;
    padding: 0 .85rem;
    border-radius: 3px;
    outline: 0;
    color: #444;
}

.login-btn{
    width: 85%;
    height: 52px;
    font-size: 18px;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #288feb;
}
/*
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;

  width: 100%;
  height: 470px;

  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}*/
.title{
    font-style: bold;
}
.form-signup{
    display: inline-block;
    width: 320px;
    position: relative;
    margin-left: 40px;
    top: 115px;
}

.form-signup .txt{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.text-signup{
    color: #333;
    margin-right: 0;
    margin-top: 0;
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    min-height: 34px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
.text-signup:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.btn-signup{
    position: relative;
    color: #fff;
    width: 100%;
    border: 0;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #55acee;
    /*background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);*/
        background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05))
    border-color: #3b88c3;
    /*background-color: #445FB0;
    background-image: -webkit-linear-gradient(#6D7FDD, #5F44B0);
    background-image: linear-gradient(#6D7FDD, #5F44B0);
    border-color: #414FA9;*/
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

.btn-signup:hover{
    background-color: #55acee;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
    border-color: #3b88c3
}

.message{
    display: inline-block;
    position: relative;
    color: white;
    width: 500px;
    top: 135px;
    float: right;
    text-shadow: 0 1px 3px #000;
}

.message h1{
    font-size: 59px;
    font-family: "Helvetica Neue";
    font-weight: normal;
    line-height: 1;
    /*letter-spacing: -1;*/
}

.message h2{
    font-size: 19px;
    line-height: 1.5;
}

.main-content{
    background: #fff;
    margin: auto;
    max-width: 1400px;
    padding: 60px 80px 20px;
    border: 1px solid #ddd;
}

.module-type{
    color: #666;
    display: inline-block;
    position: relative;
    width: 45%;
    margin-bottom: 90px;
    /*background: white;*/
}

.module-message{
    color: #666;
    display: inline-block;
    position: relative;
    width: 50%;
    /*min-height: 515px;*/
    padding-left: 55px;
    padding-top: 18px;
    float: right;
    font-size: 28px;
    font-weight: 300;
    line-height: 39px;
    border-left: 1px solid #efefef;
}

.module-message > h1{
    font-weight: 100;
    font-size: 46px;
    line-height: 56px;
    margin: 0;
    text-align: left;
    letter-spacing: -1.5px;
}

.module-type > h1{
    font-weight: 100;
    font-size: 36px;
    line-height: 56px;
    margin: 0;
    text-align: left;
    letter-spacing: -1.5px;
}

.module-type > h1 > strong{
    font-size: 61px;
}

.module-type > h1:after, .module-message > h1:after{
    height: 1px;
    background-color: #bbb;
    margin: 30px 0;
    display: block;
    width: 150px;
    content: " ";
}

.module-type > h2, .module-message > h2{
    margin-bottom: 60px;
}

.module-type >.option{
    display: block;
    width: 80%;
    min-height: 60px;
    max-height: 60px;
    padding-top: 16px;
    /*max-height: 52px;*/
    /*background-color: #3071a9;*/
    background-color: #288feb;

    border-color: #285e8e;
    color: #fff;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.module-type > .option:hover{
    background-color: #2180d7;
}


.modules{
    background-color: #F3F5F7;
    border-top: 1px solid #ddd;
    height: 100%;
    color: #666;

}

.module-wrapper{
    padding: 110px 80px;
    max-width: 1400px;
    margin: auto;
}

.module-wrapper h3{
    text-align: center;
    font-size: 38px;
    font-weight: 100;
    margin-bottom: 55px;
}

#module-types{
    text-align: center;
    margin-top: 80px;
}

#module-types li{
    width: 25%;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

#module-types li span{
    width: auto;
    margin-bottom: 30px;
    font-size: 175px;
}

#module-types li h4{
    font-size: 28px;
    margin-bottom: 20px;
}

#module-types li p{
    font-size: 18px;
    color: #999;
    line-height: 28px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.notif{
    display: inline-block;
    color: #767676;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 15px;
    font-weight: 500;
}
