@font-face{
    font-family: "Segoe UI";
    src: url(fonts/segoeui.ttf);
}

@font-face{
  font-family: "Just a Word";
  src: url('/fonts/Justaword.ttf')
}

::selection{
    background-color: transparent;
}
::moz-selection{
    background-color: transparent;
}
::webkit-selection{
    background-color: transparent;
}
*{
    box-sizing: border-box;
}


body{
    /*background: #edeef1 url("/images/design.png") center repeat;*/
    background: #EEF none repeat scroll 0% 0%;
    /*background: url('/images/bg/bg.png');*/
    background-size: cover;
    margin: 0px;
    padding: 0px;

}

#container{
    padding: 8px;
    background: url('/images/bg/woody2.jpg');
    display: none;
    width: 1280px;
    height: 600px;
    margin: auto;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.4);
    border-radius: 8px;
}
.shadow{
        box-shadow: 0px 3px 10px #252525 inset;
}
.sidebar{

    position: absolute;
    width: 480px;
    height: 584px;
    border-radius: 5px;
    /*background: #6CA5CF;*/
    color: black;
    /*overflow: hidden;*/
}
.avatar{
    width: 325px;
    /*margin: 10px;*/
}


#embed video{
    height: 270px;
    width: 217px;
    position: absolute;
    left: 30px;
    right: 0;
    z-index: 0;
    /*display: none;*/
    /*border-radius: 5px;*/

}
#embed{
    position: absolute;
    height: 270px;
    left: 0;
    right: 0;
    border-radius: 4px;
    background: #fff;
}


.chatbox{
    position: absolute;
    font-family: "Just A Word";
    background-color: rgba(60,46,19, 0.9);
    border-radius: 5px;
    height: 303px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;

    /*overflow: hidden;*/
}

.chat-logs{
  text-align: left;
  letter-spacing: 4px;
  /*overflow-y: scroll;*/
}

.nano-content span{
  /*margin-left: 30px;*/
  display: block;
  font-size: 17px;
  margin-bottom: 5px;
}

.chatbox h1{
  padding-bottom: 5px;
  margin-bottom: 1px;
  border-bottom: 1px dashed white;
}

.chat{
    position: relative;
    margin-top: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #00A8FF;
    height: 40px;
    width: 770px;
    left: 490px;
}
.button{
    display: inline-block;
    border: 1px solid transparent;
    color: #fff;
    border-color: rgba(0,0,0,0.7);
    position: absolute;
    right: 0;
    height: 40px;
    width: 93px;
    font-size: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 1px 1px rgba(255,255,255,0.1),1px 1px rgba(0,0,0,0.1);
    background-color: rgba(255,255,255,0.1);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0.1)),to(transparent));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0.1),transparent);
    /*background-image: linear-gradient(top,rgba(255,255,255,0.1),transparent);*/
    background-repeat: repeat-x;
    background-color: #212F28;
}
#content{
    background-size: cover;
    font-family: "Just a Word";
    letter-spacing: 5px;
    color: white;
    background-color: #1e571e;
    opacity: 0.9;
    padding-left: 30px;
    position: relative;
    left: 490px;
    border-radius: 5px;
    overflow: auto;
    width: 772px;
    height: 534px;
}

#lecture-board{
  position: relative;
  left: 490px;
  width: 772px;
  height: 534px;
}

#lecture-board embed{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#lecture-board a{
  position: absolute;
}

.close-lecture{
  z-index: 9999;
  font-size: 32px;
  margin: 10px;

}
.a-step, .a-final{
    display: block;
    font-size: 32px;
    margin-top: 21px;

}

.input{
    font-size: 24px;
    width: 88%;
}

a{
    text-decoration: none;
    outline: none;
}
input,textarea,select{
    outline: none;
}

.given{
    margin-top: 25px;
    font-size: 42px;
}

#bot-response {
  display: none;
    z-index: 1;
    position: relative;
  max-width: 335px;
  /*margin: 50px auto;*/
  font-family: monospace;
  left: 284px;
  top: 35px;
  font: 40px;
}
section div {
  max-width: 325px;
  word-wrap: break-word;
  margin-bottom: 20px;
  line-height: 24px;
}

.clear {
  clear: both;
}

.from-them {
  font-size: 19px;
  position: relative;
  padding: 10px 20px;
  background: #A8A8E8;
  border-radius: 25px;
  color: black;
  float: left;
}

.from-them p{
    margin: 0 0 0;
}
.from-them:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #A8A8E8;
  border-top-right-radius: 16px 14px;
  -webkit-transform: translate(0, -49px);
  -moz-transform: translate(0, -49px);
  transform: translate(0, -49px);
}
.from-them:after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-top-right-radius: 10px;
  -webkit-transform: translate(-30px, -49px);
  -moz-transform: : translate(-30px, -49px);
  transform: translate(-30px, -49px);
}

.icon-hint, .icon-abandon, .icon-clear-board, .icon-lecture{
  display: inline-block;
  /*font-size: 35px;*/
  cursor: pointer;
  /*transition: all 0.2s ease 0s;*/
  color: #fff;
  margin-bottom: 1px;
  border-radius: 20px;
  float: right;
}

.helper{
  display: inline-block;
  float: right;
  text-align: right;
  margin-right: 7px;

}

.hint:hover{
  width: 180px;
  transition: 0.1s ease-out;
}

.clear-board:hover{
  width: 210px;
  transition: 0.1s ease-out;
}

.lecture:hover{
  width: 170px;
  transition: 0.1s ease-out;
}

.abandon:hover{
  width: 220px;
  transition: 0.1s ease-out;
}

.icon-container:hover > #hint-message, .icon-container:hover > #board-message, .icon-container:hover > #abandon-message, .icon-container:hover * #lecture-message{
  margin-bottom: 8px;
  margin-right: 3px;
  transition: 0.2s;
  margin-top: 0;
  /*margin-left: 10px;*/
}




.icon-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  width: 45px;
  overflow: hidden;
  height: 42px;
  font-size: 24px;
  border-radius: 35px;
  margin: 10px;

  padding-right: 5px;
  padding-top: 8px;
  text-align: left;
}

.hint{
  display: none;
}

#lecture-message, #hint-message, #abandon-message, #board-message{
  display: inline-block;
  position: relative;
  margin-top: 10px;
  left: 10px;
}

.lecture a{
  text-decoration: none;
  color: white;
}

.top{
  z-index: 99999;
}

.lecture-container{
  /*visibility: hidden;*/
  display: inline-block;
  /*position: absolute;*/
  left: 490px;
  height: 0;
  width: 0;
}

.lecture-container embed{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.nano { width: 100%; height: 237px !important; }
.nano .nano-content { padding: 10px; margin: 0 0 10px 10px; }
.nano .nano-pane   { background: #5cb85c; }
.nano .nano-slider { background: #111; }
